<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DevelopmentLocal</key>
	<dict>
		<key>giftAPIEndpointURL</key>
		<string>https://localhost:8443/api/v1</string>
		<key>loggingLevel</key>
		<string>Debug</string>
		<key>developmentToolsEnabled</key>
		<true/>
	</dict>
	<key>Development</key>
	<dict>
		<key>giftAPIEndpointURL</key>
		<string>https://ec2-52-58-72-97.eu-central-1.compute.amazonaws.com/api/v1</string>
		<key>loggingLevel</key>
		<string>Debug</string>
		<key>developmentToolsEnabled</key>
		<true/>
	</dict>
	<key>Production</key>
	<dict>
		<key>giftAPIEndpointURL</key>
		<string>https://giftapp.co.il/api/v1</string>
		<key>loggingLevel</key>
		<string>Info</string>
		<key>developmentToolsEnabled</key>
		<false/>
	</dict>
</dict>
</plist>
